In [1]:
import pandas as pd
import numpy as np

In [4]:
file_path = "C:/Users/dutta/Downloads/Lukas_sentinel_project/data_raw/DE_2018_LUKASDATASET.csv"

lucas_raw = pd.read_csv(file_path, sep=",", encoding="utf-8", low_memory=False)

In [5]:
lucas_raw.head()

,POINT_ID,NUTS0,NUTS1,NUTS2,NUTS3,TH_LAT,TH_LONG,OFFICE_PI,EX_ANTE,SURVEY_DATE,...,SOIL_BLK_20_30_TAKEN,STANDARD_SAMPLE,SOIL_STD_TAKEN,ORGANIC_SAMPLE,SOIL_ORG_DEPTH_CANDO,PHOTO_POINT,PHOTO_NORTH,PHOTO_EAST,PHOTO_SOUTH,PHOTO_WEST
0,43403358,DE,DE9,DE93,DE933,53.329690,10.285154,0.0,0.0,20/06/18,...,8.0,0.0,8.0,0.0,8.0,1.0,1.0,1.0,1.0,1.0
1,43402762,DE,DE2,DE27,DE27C,47.971293,10.254327,0.0,0.0,03/08/18,...,8.0,0.0,8.0,0.0,8.0,1.0,1.0,1.0,1.0,1.0
2,43402770,DE,DE2,DE27,DE27C,48.043280,10.254686,1.0,0.0,26/06/18,...,8.0,0.0,8.0,0.0,8.0,2.0,2.0,2.0,2.0,2.0
3,43402890,DE,DE2,DE25,DE256,49.122807,10.260236,0.0,0.0,06/07/18,...,8.0,0.0,8.0,0.0,8.0,1.0,1.0,1.0,1.0,1.0
4,43402992,DE,DE2,DE26,DE26B,50.040058,10.265201,0.0,0.0,03/09/18,...,8.0,0.0,8.0,0.0,8.0,1.0,1.0,1.0,1.0,1.0

In [6]:
lucas_raw.shape

(26778, 97)

In [7]:
lucas_raw.columns.tolist()

['POINT_ID',
 'NUTS0',
 'NUTS1',
 'NUTS2',
 'NUTS3',
 'TH_LAT',
 'TH_LONG',
 'OFFICE_PI',
 'EX_ANTE',
 'SURVEY_DATE',
 'CAR_LATITUDE',
 'CAR_EW',
 'CAR_LONGITUDE',
 'GPS_PROJ',
 'GPS_PREC',
 'GPS_ALTITUDE',
 'GPS_LAT',
 'GPS_EW',
 'GPS_LONG',
 'OBS_DIST',
 'OBS_DIRECT',
 'OBS_TYPE',
 'LC1',
 'LC1_SPEC',
 'LC1_PERC',
 'LC2',
 'LC2_SPEC',
 'LC2_PERC',
 'LU1',
 'LU1_TYPE',
 'LU1_PERC',
 'LU2',
 'LU2_TYPE',
 'LU2_PERC',
 'PARCEL_AREA_HA',
 'TREE_HEIGHT_SURVEY',
 'TREE_HEIGHT_MATURITY',
 'FEATURE_WIDTH',
 'LNDMNG_PLOUGH',
 'LM_PLOUGH_SLOPE',
 'LM_PLOUGH_DIRECT',
 'LM_STONE_WALLS',
 'CROP_RESIDUES',
 'LM_GRASS_MARGINS',
 'GRAZING',
 'SPECIAL_STATUS',
 'LC_LU_SPECIAL_REMARK',
 'CPRN_CANDO',
 'CPRN_LC',
 'CPRN_LC1N',
 'CPRNC_LC1E',
 'CPRNC_LC1S',
 'CPRNC_LC1W',
 'CPRN_LC1N_BRDTH',
 'CPRN_LC1E_BRDTH',
 'CPRN_LC1S_BRDTH',
 'CPRN_LC1W_BRDTH',
 'CPRN_LC1N_NEXT',
 'CPRN_LC1E_NEXT',
 'CPRN_LC1S_NEXT',
 'CPRN_LC1W_NEXT',
 'CPRN_URBAN',
 'CPRN_IMPERVIOUS_PERC',
 'INSPIRE_PLCC1',
 'INSPIRE_PLCC2',
 'INSPIRE_PLCC3',
 'INSPIRE_PLCC4',
 'INSPIRE_PLCC5',
 'INSPIRE_PLCC6',
 'INSPIRE_PLCC7',
 'INSPIRE_PLCC8',
 'EUNIS_COMPLEX',
 'GRASSLAND_SAMPLE',
 'GRASS_CANDO',
 'WM',
 'WM_SOURCE',
 'WM_TYPE',
 'WM_DELIVERY',
 'EROSION_CANDO',
 'SOIL_STONES_PERC',
 'BIO_SAMPLE',
 'SOIL_BIO_TAKEN',
 'BULK0_10_SAMPLE',
 'SOIL_BLK_0_10_TAKEN',
 'BULK10_20_SAMPLE',
 'SOIL_BLK_10_20_TAKEN',
 'BULK20_30_SAMPLE',
 'SOIL_BLK_20_30_TAKEN',
 'STANDARD_SAMPLE',
 'SOIL_STD_TAKEN',
 'ORGANIC_SAMPLE',
 'SOIL_ORG_DEPTH_CANDO',
 'PHOTO_POINT',
 'PHOTO_NORTH',
 'PHOTO_EAST',
 'PHOTO_SOUTH',
 'PHOTO_WEST']

In [8]:
columns_needed = [
    "POINT_ID",
    "TH_LAT",
    "TH_LONG",
    "LU1",
    "LC1",
    "NUTS0",
    "NUTS2"
]

lucas = lucas_raw[columns_needed].copy()

In [9]:
lucas.head()

   POINT_ID     TH_LAT    TH_LONG   LU1  LC1 NUTS0 NUTS2
0  43403358  53.329690  10.285154  U111  B16    DE  DE93
1  43402762  47.971293  10.254327  U111  B16    DE  DE27
2  43402770  48.043280  10.254686  U120  C21    DE  DE27
3  43402890  49.122807  10.260236  U111  B16    DE  DE25
4  43402992  50.040058  10.265201  U312  A22    DE  DE26

In [17]:
lucas_agri = lucas_raw[
    lucas_raw["LU1"].astype(str).str.startswith("U")
].copy()

In [18]:
lucas_agri.shape
lucas_agri["LU1"].value_counts().head(10)

U111    14828
U120     7106
U370     1387
U312      953
U420      725
U350      294
U361      261
U341      175
U362      102
U319       96
Name: LU1, dtype: int64

In [19]:
lucas_agri["LC1"].value_counts().head(15)

E20    4824
C10    3137
B16    2402
B11    2184
C21    1522
B32    1154
B13    1139
C22     946
A22     775
A11     708
C33     641
C23     548
Bx1     542
C32     537
B14     536
Name: LC1, dtype: int64

In [20]:
lucas_crops = lucas_agri[
    lucas_agri["LC1"].astype(str).str.startswith("B")
].copy()

In [21]:
lucas_crops.shape
lucas_crops["LC1"].value_counts().head(10)

B16    2402
B11    2184
B32    1154
B13    1139
Bx1     542
B14     536
B22     362
B55     306
B18     266
B21     245
Name: LC1, dtype: int64

In [22]:
crop_mapping = {
    # Cereals
    "B11": "wheat",
    "B12": "wheat",
    "B13": "barley",
    "B14": "rye",
    "B15": "oats",
    "B16": "maize",

    # Industrial crops
    "B21": "rapeseed",
    "B22": "sunflower",
    "B23": "soybean",
    "B29": "industrial_other",

    # Root crops
    "B31": "potatoes",
    "B32": "sugar_beet",

    # Fodder & others
    "B41": "fodder",
    "B42": "fodder",

    # Mixed / unclear
    "Bx1": "other_arable",
    "Bx2": "other_arable",
}

In [23]:
lucas_crops["crop_class"] = lucas_crops["LC1"].map(crop_mapping)  #Appling the mapping

In [24]:
lucas_crops["crop_class"].isna().sum() #Handle unmapped codes

1313

In [26]:
#Verify final crop distribution
lucas_crops["crop_class"].value_counts()

maize           2402
wheat           2202
sugar_beet      1154
barley          1139
other_arable     552
rye              536
sunflower        362
rapeseed         245
fodder           111
oats             105
soybean           59
potatoes          30
Name: crop_class, dtype: int64

In [27]:
lucas_phase1_final = lucas_crops[
    [
        "POINT_ID",
        "NUTS0",
        "NUTS2",
        "TH_LAT",
        "TH_LONG",
        "crop_class"
    ]
].copy()

In [28]:
lucas_phase1_final.to_csv(
    "lucas2018_DE_phase1_ground_truth.csv",
    index=False
)